/*================================================================================================*/
/* Common */


/*================================================================================================*/
/* Podcasts */

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast.podcast_list */
.k3cms_s3_podcast.podcast_list .header {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------------------------------*/
/* common to show_large and show_small */

.k3cms_s3_podcast_podcast.show_large,
.k3cms_s3_podcast_podcast.show_small {
  position: relative;
}

.context_ribbon,
.context_ribbon {
  background-color: #eee;
  border: 1px solid #fff;
  padding: 5px;
  display: none;
  z-index: 9999; /* must be on top of "expose" mask */
}

.k3cms_s3_podcast_podcast.show_small,
.k3cms_s3_podcast_podcast.show_small,
.k3cms_s3_podcast_podcast.show_large,
.k3cms_s3_podcast_podcast.show_large {
     -moz-box-shadow: 0 0 12px #ddd;
  -webkit-box-shadow: 0 0 12px #ddd;
          box-shadow: 0 0 12px #ddd;
}

/* Records that you hover over or are actively editing */ 
/* Copied fom inline_editor/public/stylesheets/k3cms/inline_editor.css -- keep in sync */
.edit_mode_on .k3cms_s3_podcast_podcast.show_small:hover,
.edit_mode_on .k3cms_s3_podcast_podcast.show_small.active,
.edit_mode_on .k3cms_s3_podcast_podcast.show_large:hover,
.edit_mode_on .k3cms_s3_podcast_podcast.show_large.active,
.context_ribbon,
.context_ribbon {
  outline-color: #009000; /* green */
     -moz-box-shadow: 0 0 12px #009000;
  -webkit-box-shadow: 0 0 12px #009000;
          box-shadow: 0 0 12px #009000;
}

.k3cms_s3_podcast_podcast.show_large .editor_links,
.k3cms_s3_podcast_podcast.show_small .editor_links {
  clear: both;
}

.k3cms_s3_podcast_podcast form {
  display: inline;
}
.k3cms_s3_podcast_podcast form input {
  margin: 0;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_podcast.show_large */

.k3cms_s3_podcast_podcast.show_large {
  padding: 5px;
}

.k3cms_s3_podcast_podcast.show_large .description {
  margin: 1em 0;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_podcast.show_small */

.k3cms_s3_podcast_podcast.show_small {
  float: left;
  clear: left;
  padding: 10px 18px 0;
  background-color: white;
  /* This is just an invisible placeholder border to keep dimensions uniform. The width here should match that of .k3cms_s3_podcast_podcast.new_record */
  border: 5px solid transparent;
  width: 600px;
}

.k3cms_s3_podcast_podcast.show_small.new_record {
  display: none;
  border: 5px solid green;
}

.k3cms_s3_podcast_podcast.show_small .video_player {
  margin: 0 0 5px -8px;
  width: 352px;
  height: 265px;
  padding: 20px 0px 20px 20px;
  background: url(/images/k3cms/s3_podcast/video_player_large_bg.png) center no-repeat;
}

.k3cms_s3_podcast_podcast.show_small .k3cms_s3_podcast_podcast div.tags input {
  width: 100px;
}

.k3cms_s3_podcast_podcast.show_small.visible +
.k3cms_s3_podcast_podcast.show_small.visible {
  margin-top: 20px;
}


/*================================================================================================*/
/* Episodes */

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast.episode_list */
.k3cms_s3_podcast.episode_list .header {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------------------------------*/
/* common to show_large and show_small */

.k3cms_s3_podcast_episode.show_large,
.k3cms_s3_podcast_episode.show_small {
  background-color: white;
  position: relative;
}

.context_ribbon,
.context_ribbon {
  background-color: #eee;
  border: 1px solid #fff;
  padding: 5px;
  display: none;
  z-index: 9999; /* must be on top of "expose" mask */
}

/* Records on the page that *can* be edited but are not yet being edited */
/* Give a subtle visual hint as to which areas on the screen can be edited */
.edit_mode_on .k3cms_s3_podcast_episode.show_small,
.edit_mode_on .k3cms_s3_podcast_episode.show_small,
.edit_mode_on .k3cms_s3_podcast_episode.show_large,
.edit_mode_on .k3cms_s3_podcast_episode.show_large {
     -moz-box-shadow: 0 0 12px #ddd;
  -webkit-box-shadow: 0 0 12px #ddd;
          box-shadow: 0 0 12px #ddd;
}

/* Records that you hover over or are actively editing */ 
/* Copied fom inline_editor/public/stylesheets/k3cms/inline_editor.css -- keep in sync */
.edit_mode_on .k3cms_s3_podcast_episode.show_small:hover,
.edit_mode_on .k3cms_s3_podcast_episode.show_small.active,
.edit_mode_on .k3cms_s3_podcast_episode.show_large:hover,
.edit_mode_on .k3cms_s3_podcast_episode.show_large.active,
.context_ribbon,
.context_ribbon {
  outline-color: #009000; /* green */
     -moz-box-shadow: 0 0 12px #009000;
  -webkit-box-shadow: 0 0 12px #009000;
          box-shadow: 0 0 12px #009000;
}

.k3cms_s3_podcast_episode.show_large .status.unpublished,
.k3cms_s3_podcast_episode.show_small .status.unpublished {
  border: 1px solid #A33028;
  background: #E6554B;
  color: white;
}
.k3cms_s3_podcast_episode.show_small .status.unpublished {
}
.k3cms_s3_podcast_episode.show_small .status.unpublished {
  font-size: 110%;
}

.k3cms_s3_podcast_episode form {
  display: inline;
}
.k3cms_s3_podcast_episode form input {
  margin: 0;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_episode.show_large */

.k3cms_s3_podcast_episode.show_large {
  padding: 5px;
}

.k3cms_s3_podcast_episode.show_large .description {
  margin: 1em 0;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_episode.show_small */

.k3cms_s3_podcast_episode.show_small {
  float: left;
  padding: 10px 18px 0;
  /* This is just an invisible placeholder border to keep dimensions uniform. The width here should match that of .k3cms_s3_podcast_episode.new_record */
  border: 5px solid transparent;
  width: 170px;
}

.k3cms_s3_podcast_episode.show_small.new_record {
  display: none;
  border: 5px solid green;
}

.k3cms_s3_podcast_episode.show_small.unpublished {
  background: #BDAD69;
}

.k3cms_s3_podcast_episode.show_small div.thumbnail {
  margin: 0 0 5px -8px;
  width: 166px;
  height: 124px;
  padding: 10px;
  background: url(/images/k3cms/s3_podcast/episode_small-thumbnail_bg.png) center no-repeat;
}

.k3cms_s3_podcast_episode.show_small .k3cms_s3_podcast_episode div.tags input {
  width: 100px;
}

/*================================================================================================*/
/* Icons */
.k3cms_s3_podcast li.icon.button a {
  background: url(/images/k3cms/s3_podcast/icons.png) no-repeat;
}

.k3cms_s3_podcast li.icon.button.video a              { background-position: 0 -24px;}
.k3cms_s3_podcast li.icon.button.b2 a                 { background-position: 0 -48px;}
.k3cms_s3_podcast li.icon.button.list_episodes a      { background-position: 0 -72px;}
.k3cms_s3_podcast li.icon.button.episode_metadata a   { background-position: 0 -96px;}
.k3cms_s3_podcast li.icon.button.b5 a                 { background-position: 0 -121px;}
.k3cms_s3_podcast li.icon.button.b6 a                 { background-position: 0 -144px;}
.k3cms_s3_podcast li.icon.button.b7 a                 { background-position: 0 -168px;}
.k3cms_s3_podcast li.icon.button.b8 a                 { background-position: 0 -192px;}
.k3cms_s3_podcast li.icon.button.b9 a                 { background-position: 0 -384px;}
.k3cms_s3_podcast li.icon.button.b10 a                { background-position: 0 -408px;}
.k3cms_s3_podcast li.icon.button.b11 a                { background-position: 0 -430px;}
.k3cms_s3_podcast li.icon.button.b12 a                { background-position: 0 -454px;}
.k3cms_s3_podcast li.icon.button.b13 a                { background-position: 0 -502px;}
.k3cms_s3_podcast li.icon.button.b14 a                { background-position: 0 -526px;}
.k3cms_s3_podcast li.icon.button.b15 a                { background-position: 0 -552px;}
.k3cms_s3_podcast li.icon.button.b16 a                { background-position: 0 -574px;}
.k3cms_s3_podcast li.icon.button.b17 a                { background-position: 0 -598px;}
.k3cms_s3_podcast li.icon.button.b18 a                { background-position: 0 -624px;}
.k3cms_s3_podcast li.icon.button.b19 a                { background-position: 0 -648px;}
.k3cms_s3_podcast li.icon.button.b20 a                { background-position: 0 -672px;}
.k3cms_s3_podcast li.icon.button.b21 a                { background-position: 0 -696px;}
.k3cms_s3_podcast li.icon.button.b22 a                { background-position: 0 -720px;}
.k3cms_s3_podcast li.icon.button.b23 a                { background-position: 0 -744px;}

/*================================================================================================*/
