/* vim: expandtab shiftwidth=2 tabstop=2
Notes:
* I would have preferred to use class names like .k3cms_s3_podcast.episode but .k3cms_s3_podcast_episode is what the dom_class helper generates so I decided to use that.
* But I still tried to make sure that every k3cms_s3_podcast view renders its contents within .k3cms_s3_podcast
  so that we can easily style *everything* rendered by k3cms_s3_podcast with a single .k3cms_s3_podcast selector...
*/
/*================================================================================================*/
/* Not s3_podcast-specific */

/* This is a workaround for the fact that 'position: relative' is ignored for table cells. Put one of these inside your td. */
.relative_fix {
  position: relative;
  height: 100%;
}

.clear_left {
  clear: left;
}

/*================================================================================================*/
/* general styles for s3_podcast gem */

.k3cms_s3_podcast {
/*  border: 1px solid red;*/
}

/* auto-clear some things (http://www.positioniseverything.net/easyclearing.html) */
.k3cms_s3_podcast_podcast_list .the_list:after,
.k3cms_s3_podcast_episode_list .the_list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.k3cms_s3_podcast a.with_icon {
  position: relative;
  margin-left: 20px;
}
.k3cms_s3_podcast a.with_icon img {
  position: absolute;
  top: 0px;
  left: -20px;
}

/*------------------------------------------------------------------------------------------------*/
/* Link styles */

.k3cms_s3_podcast a,
.k3cms_s3_podcast a:link {
  text-decoration: underline;
}

/*================================================================================================*/
/* Podcasts */

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_podcast_list */
.k3cms_s3_podcast_podcast_list .header {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_podcast */

.k3cms_s3_podcast_podcast {
  line-height: 1.3em;
  font-size: 13px;
}
.k3cms_s3_podcast_podcast a {
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_podcast.show_small */

.k3cms_s3_podcast_podcast.show_small {
  position: relative;
  float: left;
  clear: left;
  padding: 10px 18px 0;
  background-color: white;
  /* This is just an invisible placeholder border to keep dimensions uniform. The width here should match that of .k3cms_s3_podcast_podcast.new_record */
  border: 5px solid transparent;
  width: 600px;
}

.k3cms_s3_podcast_podcast.show_small.new_record {
  display: none;
  border: 5px solid green;
}

.k3cms_s3_podcast_podcast.show_small .video_player {
  margin: 0 0 5px -20px;
  width: 352px;
  height: 265px;
  padding: 18px 0px 10px 20px;
  background: url(/images/k3cms/s3_podcast/video_player_large_bg.png) top left no-repeat;
}

.k3cms_s3_podcast_podcast.show_small>.left {
  float: left;
  width: 200px;
}

.k3cms_s3_podcast_podcast.show_small>.right {
  float: right;
  width: 390px;
  padding-left: 10px;
}

.k3cms_s3_podcast_podcast.show_small {
     -moz-box-shadow: 0 0 12px #ddd;
  -webkit-box-shadow: 0 0 12px #ddd;
          box-shadow: 0 0 12px #ddd;
}

/* Records that you hover over or are actively editing */ 
/* Copied fom inline_editor/public/stylesheets/k3cms/inline_editor.css -- keep in sync */
.edit_mode_on .k3cms_s3_podcast_podcast.show_small:hover,
.edit_mode_on .k3cms_s3_podcast_podcast.show_small.active,
.context_ribbon,
.context_ribbon {
  outline-color: #009000; /* green */
     -moz-box-shadow: 0 0 12px #009000;
  -webkit-box-shadow: 0 0 12px #009000;
          box-shadow: 0 0 12px #009000;
}

.k3cms_s3_podcast_podcast.show_small .editor_links {
  clear: both;
}

.k3cms_s3_podcast_podcast form {
  display: inline;
}
.k3cms_s3_podcast_podcast form input {
  margin: 0;
}

.k3cms_s3_podcast_podcast.show_small .k3cms_s3_podcast_podcast div.tags input {
  width: 100px;
}

.k3cms_s3_podcast_podcast.show_small.record_exists +
.k3cms_s3_podcast_podcast.show_small.record_exists {
  margin-top: 20px;
}


/*================================================================================================*/
/* Episodes */

.k3cms_s3_podcast_episode {
  line-height: 1.3em;
  font-size: 13px;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_episode_list */
.k3cms_s3_podcast_episode_list .header {
  margin-bottom: 20px;
}

.k3cms_s3_podcast_episode_list table {
  width: 100%;
}

.episode .title {
  font-size: 16px;
  padding-bottom: 5px;
}

/*------------------------------------------------------------------------------------------------*/
/* common to .show_large and .tile */

.k3cms_s3_podcast_episode.new_record {
  display: none;
  border: 3px solid green;
}

.k3cms_s3_podcast_episode.show_large,
.k3cms_s3_podcast_episode.tile {
  background-color: white;
  position: relative;
}

/* Records on the page that *can* be edited but are not yet being edited */
/* Give a subtle visual hint as to which areas on the screen can be edited */
.edit_mode_on .k3cms_s3_podcast_episode.tile,
.edit_mode_on .k3cms_s3_podcast_episode.show_large {
     -moz-box-shadow: 0 0 12px #ddd;
  -webkit-box-shadow: 0 0 12px #ddd;
          box-shadow: 0 0 12px #ddd;
}

/* Records that you hover over or are actively editing */ 
/* Copied fom inline_editor/public/stylesheets/k3cms/inline_editor.css -- keep in sync */
.edit_mode_on .k3cms_s3_podcast_episode.tile:hover,
.edit_mode_on .k3cms_s3_podcast_episode.tile.active,
.edit_mode_on .k3cms_s3_podcast_episode.show_large:hover,
.edit_mode_on .k3cms_s3_podcast_episode.show_large.active,
.context_ribbon,
.context_ribbon {
  outline-color: #009000; /* green */
     -moz-box-shadow: 0 0 12px #009000;
  -webkit-box-shadow: 0 0 12px #009000;
          box-shadow: 0 0 12px #009000;
}

/*------------------------------------------------------------------------------------------------*/
/* elements *within* the episode box */

.k3cms_s3_podcast_episode .context_ribbon label,
.k3cms_s3_podcast_episode .context_ribbon .field {
  font-size: 13px !important;
}
.k3cms_s3_podcast_episode.show_large .status.unpublished,
.k3cms_s3_podcast_episode.tile .status.unpublished {
  border: 1px solid #A33028;
  background: #E6554B;
  color: white;
}
.k3cms_s3_podcast_episode.tile .status.unpublished {
  font-size: 110%;
}

.k3cms_s3_podcast_episode label {
  font-weight: bold;
}

.k3cms_s3_podcast_episode form {
  display: inline;
}
.k3cms_s3_podcast_episode form input {
  margin: 0;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_episode.tile */

.k3cms_s3_podcast_episode.tile {
  float: left;
  padding: 10px 18px 0;
  /* This is just an invisible placeholder border to keep dimensions uniform. The width here should match that of .k3cms_s3_podcast_episode.new_record */
  border: 3px solid transparent;
  width: 170px;
}

.k3cms_s3_podcast_episode.tile.unpublished {
  background: #BDAD69;
}

.k3cms_s3_podcast_episode.tile div.thumbnail {
  margin: 0 0 5px -8px;
  width: 166px;
  height: 124px;
  padding: 10px;
  background: url(/images/k3cms/s3_podcast/episode_small-thumbnail_bg.png) center no-repeat;
}

.k3cms_s3_podcast_episode.tile .k3cms_s3_podcast_episode div.tags input {
  width: 100px;
}

/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_episode.table_row */

/* This doesn't work (in Chromium and Firefox anyway). 'position: relative' is ignored for table cells. */
/* Use .relative_fix instead */
tr.k3cms_s3_podcast_episode td {
  position: relative;
}

/* we can't make this display: none, because it contains a .context_ribbon, but this comes close enough */
tr.k3cms_s3_podcast_episode td.nearly_invisible {
  width: 0px;
  padding: 0px !important;
}

/* This is just an invisible placeholder border to keep dimensions uniform. The width here should match that of the green border below */
tr.k3cms_s3_podcast_episode td {
  border-top:    3px solid transparent;
  border-bottom: 3px solid transparent;
}
tr.k3cms_s3_podcast_episode td:first-child {
  border-left:   3px solid transparent;
}
tr.k3cms_s3_podcast_episode td:last-child {
  border-right:  3px solid transparent;
}
/* Green borders for .active/.new_record */
tr.k3cms_s3_podcast_episode.active     td,
tr.k3cms_s3_podcast_episode.new_record td {
  border-top:    3px solid green;
  border-bottom: 3px solid green;
}
tr.k3cms_s3_podcast_episode.active     td:first-child,
tr.k3cms_s3_podcast_episode.new_record td:first-child {
  border-left:   3px solid green;
}
tr.k3cms_s3_podcast_episode.active     td:last-child,
tr.k3cms_s3_podcast_episode.new_record td:last-child {
  border-right:  3px solid green;
}


/*------------------------------------------------------------------------------------------------*/
/* .k3cms_s3_podcast_episode.show_large */

.k3cms_s3_podcast_episode.show_large {
  padding: 10px;
}

.k3cms_s3_podcast_episode.show_large .title {
  text-align: center;
}

.k3cms_s3_podcast_episode.show_large .description {
  margin: 1em 0;
}

.k3cms_s3_podcast_episode.show_large .player {
  float: right;
  margin-left: 10px;
}



/*================================================================================================*/
/* Icons */
.k3cms_s3_podcast li.icon.button a {
  background: url(/images/k3cms/s3_podcast/icons.png) no-repeat;
}

.k3cms_s3_podcast li.icon.button.video a              { background-position: 0 -24px;}
.k3cms_s3_podcast li.icon.button.b2 a                 { background-position: 0 -48px;}
.k3cms_s3_podcast li.icon.button.list_episodes a      { background-position: 0 -72px;}
.k3cms_s3_podcast li.icon.button.episode_metadata a   { background-position: 0 -96px;}
.k3cms_s3_podcast li.icon.button.b5 a                 { background-position: 0 -121px;}
.k3cms_s3_podcast li.icon.button.b6 a                 { background-position: 0 -144px;}
.k3cms_s3_podcast li.icon.button.b7 a                 { background-position: 0 -168px;}
.k3cms_s3_podcast li.icon.button.b8 a                 { background-position: 0 -192px;}
.k3cms_s3_podcast li.icon.button.b9 a                 { background-position: 0 -384px;}
.k3cms_s3_podcast li.icon.button.b10 a                { background-position: 0 -408px;}
.k3cms_s3_podcast li.icon.button.b11 a                { background-position: 0 -430px;}
.k3cms_s3_podcast li.icon.button.b12 a                { background-position: 0 -454px;}
.k3cms_s3_podcast li.icon.button.b13 a                { background-position: 0 -502px;}
.k3cms_s3_podcast li.icon.button.b14 a                { background-position: 0 -526px;}
.k3cms_s3_podcast li.icon.button.b15 a                { background-position: 0 -552px;}
.k3cms_s3_podcast li.icon.button.b16 a                { background-position: 0 -574px;}
.k3cms_s3_podcast li.icon.button.b17 a                { background-position: 0 -598px;}
.k3cms_s3_podcast li.icon.button.b18 a                { background-position: 0 -624px;}
.k3cms_s3_podcast li.icon.button.b19 a                { background-position: 0 -648px;}
.k3cms_s3_podcast li.icon.button.b20 a                { background-position: 0 -672px;}
.k3cms_s3_podcast li.icon.button.b21 a                { background-position: 0 -696px;}
.k3cms_s3_podcast li.icon.button.b22 a                { background-position: 0 -720px;}
.k3cms_s3_podcast li.icon.button.b23 a                { background-position: 0 -744px;}

/*================================================================================================*/
