:javascript
  //================================================================================================
  // Config

  K3cms_S3Podcast.config.pagination = #{Rails.application.config.k3cms_s3_podcast_pagination.to_json};
