-# This file exists so that we can use the nice Rails shorthand, render(@podcast)
-# FIXME: Weird, when you do render(@podcast), it looks for a partial named k3cms/s3_podcast/k3cms/s3_podcast/podcasts/podcast
= render_cell 'k3cms/s3_podcast/podcasts', :show, :podcast => @podcast
