- content_for :title do
  = strip_tags @podcast.title

-# Hard-code the widget on this page
= render_cell 'k3cms/s3_podcast/podcasts', :show, :podcast => @podcast

- if edit_mode?
  :javascript
    #{inline_editor_update_page_from_object(@podcast)}
