-# This file exists so that we can use the nice Rails shorthand, render(@episode)
-# FIXME: Weird, when you do render(@episode), it looks for a partial named k3cms/s3_podcast/k3cms/s3_podcast/episodes/episode
= render_cell 'k3cms/s3_podcast/episodes', :show, :episode => @episode
