- content_for :title do
  Episodes
%h1.episodes_index_title 
  = @podcast.title

= link_to image_tag('k3cms/s3_podcast/feed.png') + ' Subscribe to Podcast', k3cms_s3_podcast_podcast_episodes_url(@podcast, :format => :rss)

= render_cell 'k3cms/s3_podcast/episodes_index', :choose, :episodes => @episodes, :podcast => @podcast
