- if can?(:edit, @episode) && edit_mode?
  .context_ribbon{:class => dom_id(@episode)}
    .code
      %label Code:
      - if true
        = inline_editable('span', @episode, :code) do
          = @episode.code
      - if false
        = text_field_tag @episode, :code

