-# vim: ft=javascript

:javascript
  $(function() {
    $("a.lightbox[rel]").overlay({
      mask: '#000',
      onBeforeLoad: function() {
        var wrap = this.getOverlay().find(".content");
        wrap.load(this.getTrigger().attr("href"));
      },
      onBeforeClose: function() {
        var elements = this.getOverlay().find('video.video-js');
        if (elements.length) {
          console.debug('stopping video...');
          var video_player = elements[0].player;
          video_player.pause();
        }

        var elements = this.getOverlay().find('.jp-jplayer');
        if (elements.length) {
          console.debug('stopping audio...');
          elements.jPlayer("stop");
        }
      },
    });

    K3cms_S3Podcast.update_row_striping();
    K3cms_S3Podcast.fix_clears();
  });

= render_cell 'k3cms/ribbon', :context_ribbon_js, @episode,
  :extra_params => {:size => 'small'},
  :new_record_path => new_k3cms_s3_podcast_podcast_episode_path(@podcast),
  :ribbon_offset => [-0, -5]
